<div class="main_details">
    <h2>{{freeGame.title}}</h2>

    <div class ="arrange_image">
    {{#if freeGame.thumbnail}}
    <img class="image_details" src={{freeGame.thumbnail}} width="600px">
    {{/if}}
    {{#unless freeGame.thumbnail}}
    <img class="image_details" src="/images/404.png" width="600px">
    {{/unless}}
     <div class ="main_publisher">
     <div class="publisher"><b class="details_bold">Publisher: </b>
     {{freeGame.publisher}}
     </div>
     <form action="/addFreeGame/{{freeGame.id}}" method="post">
     <div class="release_date"><b class="details_bold">Released Date</b> <br>{{freeGame.release_date}}</div>
     {{#if freeGame.game_url}}
     <a class ="website" target="_blank" href="{{freeGame.game_url}}"><b class="website_bold">Website</b></a>
     {{/if}}

    {{#if freeGame.metacritic}}
    <div class="rating"><b class="details_bold">Rating:</b>{{freeGame.metacritic}}</h3>
    </div>
    {{/if}}
    <div class="submit_form">
        {{#unless isGameOnFavorites}}
        <button class="like_button" type ="submit"><img class ="like_button_image"src="/images\logo2.png"></button>
        <span><b>Add to My Games</b></span>
        {{/unless}}
        {{#if isGameOnFavorites}}
        <img class ="like_button_image"src="/images\logo2.png" style="width: 5vh">
        <span style="color: rgb(0, 204, 0);"><b>Liked Game 😊</b></span>
        {{/if}}
     </div>
     </form>
     </div>
     </div>

    <div class="game_genre">

    {{freeGame.genre}}
   
    </div>
    

    <div class="platforms"><b class="details_bold">Available on</b><br>
   
    {{freeGame.platform}}
    
    </div>

    <div class="description">{{freeGame.short_description}}</div>